.primaryLight {
  background-color: #d5ffff;
  color: #003c3c;
}

.primaryDark {
  background-color: #003c3c;
  color: #d5ffff;
}

.secondaryLight {
  color: #003c3c;
  border: 0.2rem solid #003c3c;
}

.secondaryDark {
  color: #d5ffff;
  border: 0.2rem solid #d5ffff;
}

.large {
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
}

.default {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.small {
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
}
